<div class="overlay">
  <div class="main-body d-flex align-items-center">
    <div class="container-fluid card d-flex justify-content-center align-items-lg-center">
      <form [formGroup]="frmLogin">
        <h1>INICIAR SESIÓN</h1>
        <div class="mb-3">
          <div class="container-input">
            <input type="text" class="form-control ui-input" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Usuario" autocomplete="off" formControlName="id_usuario" />
          </div>
        </div>

        <div class="mb-3">
          <div class="container-input">
            <input type="password" class="form-control ui-input" id="exampleInputPassword1" placeholder="Contraseña"
              autocomplete="off" formControlName="password" />
          </div>
        </div>

        <div class="container-button">
          <button type="submit" class="ui-btn" (click)="signIn()">
            INICIAR SESIÓN
          </button>
        </div>
      </form>
      <a class="ui-link mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">¿NO TIENES CUENTA? <b
          style="color: #0dcdfe">REGISTRATE</b>
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmRegister">
          <div class="mb-3">
            <div class="container-input">
              <input type="text" class="form-control ui-input" aria-describedby="emailHelp" placeholder="Usuario"
                autocomplete="off" formControlName="id_usuario" />
            </div>
          </div>

          <div class="mb-3">
            <div class="container-input">
              <input type="email" class="form-control ui-input" aria-describedby="emailHelp" placeholder="email"
                autocomplete="off" formControlName="email" />
            </div>
          </div>

          <div class="mb-3">
            <div class="container-input">
              <input type="password" class="form-control ui-input" placeholder="Contraseña" autocomplete="off"
                formControlName="password" />
            </div>
          </div>

          <div class="mb-3">
            <div class="container-input">
              <input type="password" class="form-control ui-input" placeholder="confirmed password" autocomplete="off"
                formControlName="password_confirmation" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="registerUser()">Registrarse</button>
      </div>
    </div>
  </div>
</div>