<div>
    <div class="row gx-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
            <a class="navbar-brand ms-4" href="#"><i class="fa-solid fa-utensils"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" class="me-4">Cerrar Sesion</a>
        </nav>
    </div>

    <div class="row gx-0">
        <div class="col-lg-2 col-sm-12">
            <aside class="sidebar">
                <header>
                    Menu
                </header>
                <nav class="sidebar-nav">
                    <ul>
                        <li (click)="bandera = !bandera">
                            <span class="categorias">Categorias<i class="fa-solid fa-arrow-down float-end"></i></span>

                            <ul [hidden]="!bandera">
                                <li *ngFor="let item of listCategory" (click)="selectedCategory(item.strCategory)">
                                    <span class="categorias">
                                        <i class="ion-ios-color-filter-outline"></i>{{item.strCategory}}
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>

        </div>
        <div class="col-lg-10 col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>



<!-- <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <a class="navbar-brand ms-4" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="" class="me-4">Cerrar Sesion</a>
    </nav>
</div> -->

<!-- <div class="row">
    <div class="col-lg-2"> -->
<!-- <aside class="sidebar">
                <header>
                    Menu
                </header>
                <nav class="sidebar-nav">
                    <ul>
                        <li (click)="bandera = !bandera">
                            <a><i class="ion-bag"></i> <span>Categorias</span></a>
                            <ul [hidden]="!bandera">
                                <li>
                                    <a href="#"><i class="ion-ios-color-filter-outline"></i>Derps</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-ios-clock-outline"></i>Times</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-android-star-outline"></i>Hates</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-heart-broken"></i>Beat</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside> -->
<!-- </div> -->
<!-- 
    <div class="col-lg-10">
        <h1>Hola Mundo</h1>
    </div> -->
<!-- </div> -->